*
{
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
}

header
{
    background-color: black;
    background-size: cover;
    height: 100vh;
}

.nav-menu
{
    float: left;
    list-style: none;
    margin-top: 25px;
    margin-left: 15px;
}

.nav-menu li
{
    display: inline-block;
}

.nav-menu li a
{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: 1px solid white;
}

.nav-menu li a:hover
{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: white;
    transition: all 0.3s ease-in;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.row
{
    max-width: 1920px;
    margin:auto;
}

.contentHeader
{
    margin-left: 0px;
    margin-top: 200px;
    position: absolute;
    width: 100%;
    height: 100%;
}
h1
{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

h2
{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

form
{
    margin-top: 20px;
    margin-left: 30px;
}

p
{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

h3
{
    color: green;
    text-transform: uppercase;
    font-size: 30px;
    text-align: right;
    margin-top: 150px;
    margin-right: 400px;
}

h3 a
{
    color: green;
    text-transform: uppercase;
    font-size: 30px;
    text-align: right;
    text-decoration: none;
}

h4
{
    color: red;
    text-transform: uppercase;
    font-size: 30px;
    text-align: right;
    margin-top: 150px;
    margin-right: 400px;
}

h4 a
{
    color: red;
    text-transform: uppercase;
    font-size: 30px;
    text-align: right;
    margin-top: 150px;
    margin-right: 600px;
    text-decoration: none;
}

.table
{
    display: table;
    margin: 0 auto;
    margin-top: 40px;
}

.choice-menu
{
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
}

.choice-menu li
{
    display: inline-block;
}

.choice-menu li a
{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: 1px solid white;
}

.choice-menu li a:hover
{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: white;
    transition: all 0.3s ease-in;
}