
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>autorzy</h1>
            <p>jan kozłowski: 249790</p>
            <p>Jacek Małas: 221086</p>
            <p>Filip Majewski: 249778</p>
            <p>Z podziękowaniami dla lic. Sylwestra Piątka</p>
            <p>A poniżej wykres:</p>
            <p><img alt=”wykres” src= {{ rysunek }}></img></p>
        </div>



    </header>





</body>










</html>