<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Słyszysz cichy brzdęk metalu. Skrzynia otwiera się, ukazując przed tobą swoje skarby. Szybko chowasz do torby tyle złota, ile tylko możesz unieść.</h1>
            <h1> Kierujesz się w stronę wyjścia, lecz tam czeka na ciebie grupka trzech rabusiów.</h1>
            <p>Czekaliśmy, aż wykonasz za nas wszystkie wyzwania! &ndash; powiedział jeden z nich</p>
            <h1>Widzisz, jak banda szykuje się do ataku. Możesz walczyć z nimi lub spróbować uciec ze złotem.</h1>
            <h1>Jaka będzie twoja decyzja?</h1>
            <h3><a href="https://ti-249778.herokuapp.com/fight">Walcz</a></h3>
            <h4><a href="https://ti-249778.herokuapp.com/run">Uciekaj</a></h4>

        </div>


    </header>
</body>
</html>