<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Słyszysz cichy odgłos przestawiających się mechanizmów dobiegający ze środka. Wielkie drzwi powoli otwierają się. Z ciemnego wnętrza słyszysz głos:</h1>
            <p><i>Witaj, przybyszu. Wejdź.</i></p>
            <h3><a href="https://ti-249778.herokuapp.com/gamescr2">wejdź do środka</a></h3>
        </div>


    </header>
</body>
</html>