<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Wylosowałeś: {{ variable }}</h1>
            <h1>Szarżujesz w stronę przeciwnika, lecz potykasz się o własne nogi i nadziewasz na swój nóż. Oznacza to tragiczny koniec Twej postaci. Musisz zacząć od początku.</h1>
            <h4><a href="https://ti-249778.herokuapp.com/gamescr1">Spróbuj jeszcze raz</a></h4>
            

        </div>


    </header>
</body>
</html>