<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Zdobyte bogactwa sprawiają, że jesteś zdeterminowany, by zwyciężyć. Podejmujesz walkę z przeciwnikami. Unikasz wszystkich ciosów, twoja walka jest niczym taniec.</h1>
            <h1>Po powaleniu wszystkich przeciwników zwracasz się do nich słowami:</h1>
            <p><i>Przekażcie innym, że lepiej, by się do mnie nie zbliżali.</i></p>
            <h1>Odwracasz się i odchodzisz. Zdobyte złoto pozwala ci na sielankowe życie do końca twych dni. Pokonałeś przeciwności losu.</h1>
            <h1>KONIEC</h1>

        </div>


    </header>
</body>
</html>