<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Zdobyte bogactwa sprawiają, że jesteś zdeterminowany, by zwyciężyć. Podejmujesz walkę z przeciwnikami.</h1>
            <h1>Złodziejom udaje się wyrwać ci torbę, jednak nawet ranny jesteś zbyt dużym zagrożeniem</h1>
            <h1>Złodzieje uciekają z większością twojego złota - jednak przezornie część wcześniej włożyłeś do ukrytej sakiewki!</h1>
            <h1>Nie jest to skarb o którym marzyłeś, ale nie dajesz się zdołować przeciwnościom losu. Zawsze jest kolejny skarb!</h1>
            

        </div>


    </header>
</body>
</html>