<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Człowiek zdaje się być zadowolony Twoją odpowiedzią. Wręcza ci zapaloną pochodnię i gestem ręki zachęca do przejścia dalej korytarzem.</h1>
            <h1>Po kilku minutach wędrówki na drodze staje ci nieumarły potwór, który zaczyna zmierzać w twoją stronę. Dobywasz schowanego przy pasie noża i szykujesz się do ataku.</h1>
            <h1>Rzuć kością, żeby poznać swój los!</h1>
            <h3><a href="https://ti-249778.herokuapp.com/gamescr3">rzut</a></h3>
            

        </div>


    </header>
</body>
</html>