<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>O grze</h1>
            <p></p>
            <p>W grze wcielamy się w tajemniczego podróżnika, który na swej drodze odnajduje wielkie kamienne drzwi.</p><p> Zadaniem gracza jest rozwiązywanie zagadek, by dotrzeć do skarbu czekającego na końcu.</p>
            <p>Powodzenia!</p>
            <h3><a href="https://ti-249778.herokuapp.com/gamescr1">START</a></h3>
        </div>


    </header>
</body>
</html>