<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Z mroku wyłania się zakapturzona postać. Przemawia do Ciebie niskim, donośnym głosem:</h1>
            <p><i>Przepuszczę cię, jeżeli jesteś w stanie rozwiązać zagadkę Sfinksa.</i></p>
            <p><i>Co to za zwierzę, które rano chodzi na czterech nogach, w południe na dwóch, a wieczorem na trzech?</i></p>
            
            <div class="table">
            <ul class = "choice-menu">
                    <li><a href="https://ti-249778.herokuapp.com/gamescr2incorrect">PIES</a></li>
                    <li><a href="https://ti-249778.herokuapp.com/gamescr2correct">CZŁOWIEK</a></li>
                    <li><a href="https://ti-249778.herokuapp.com/gamescr2incorrect">PTAK</a></li>
                    <li><a href="https://ti-249778.herokuapp.com/gamescr2incorrect">KOT</a></li>
    
    
                </ul></div>
        </div>


    </header>
</body>
</html>