<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Stajesz przed ciężką, metalową skrzynią. Skarb jest zablokowany szyfrem.</h1>
            <h1>Na powierzchni skrzyni wygrawerowany jest napis:</h1>>
            <p><i>Odpowiedzi na pierwsze dwa wyzwania pomogą ci odblokować skarb.</i></p>
            <h1>Sięgając pamięcią w ostatnie wydarzenia, wprowadzasz szyfr.</h1>
            
            <div class="table">
            <ul class = "choice-menu">
            <li><a href="https://ti-249778.herokuapp.com/locked">13323</a></li>
            <li><a href="https://ti-249778.herokuapp.com/locked">41324</a></li>
            <li><a href="https://ti-249778.herokuapp.com/unlocked">32442</a></li>
            <li><a href="https://ti-249778.herokuapp.com/locked">14323</a></li>
            </ul></div>
        </div>


    </header>
</body>
</html>