<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Człowiek kręci głową &ndash; odpowiedź nie spodobała mu się. Próbujesz mimo wszystko spróbować szczęścia i przemknąć się obok, lecz postać powala cię silnym zaklęciem.</h1><h1> Musisz zacząć od początku.</h1>
            <h4><a href="https://ti-249778.herokuapp.com/gamescr1">Spróbuj jeszcze raz</a></h4>
        </div>


    </header>
</body>
</html>