<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Projekt HTML</h1>
            <p>W ramach projektu przygotowaliśmy krótką grę tekstową opartą na elementach losowych i logicznych.</p>>
            <p>Aplikacja przygotowana w module Flask. Hosting za pomocą Heroku.</p>
            <p>Projekt przygotowany na zajęcia IT w 2019 roku.</p>

        </div>


    </header>


</body>










</html>