<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Wylosowałeś: {{ variable }}</h1>
            <h1>Szarżujesz w stronę przeciwnika. Potwór zamachuje się, lecz uchylasz się przed ciosem i trafiasz go nożem. Potwór pada na ziemię.</h1>
            <h1>Patrząc przed siebie widzisz delikatny, metaliczny połysk. Postanawiasz szybko go zbadać.</h1>
            <h3><a href="https://ti-249778.herokuapp.com/gamescr4">Przejdź dalej</a></h3>
            

        </div>


    </header>
</body>
</html>