<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Uznajesz walkę z taką ilością przeciwników za nierozsądną. Zabierasz torbę i uciekasz jak najszybciej przed bandytami.</h1>
            <h1>Złodzieje rzucają się za tobą w pogoń, lecz ty jesteś szybszy. Udaje ci się ich zgubić</h1>
            <h1>Zdobyte złoto pozwala ci na sielankowe życie do końca twych dni. Pokonałeś przeciwności losu.</h1>
            <h1>KONIEC</h1>

        </div>


    </header>
</body>
</html>