<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Stajesz przed wielkimi kamiennymi drzwiami. Widzisz cztery dźwignie oraz widniejący nad nimi napis:</h1>
            <p><i>Ci, którzy wykażą się świetną pamięcią, zręcznością i intelektem, doczekają się niewyobrażalnych bogactw na końcu tej drogi.</i></p>
            <p><i>Age si quid agis</i></p>
            <p>wygląda na to, że cztery dźwignie muszą zostać pociągnięte w odpowiedniej kolejności, a w tekście zawarta jest wskazówka. Przystępujesz do działania.</p>

            <div class="table">
            <ul class = "choice-menu">
                    <li><a href="https://ti-249778.herokuapp.com/z4">Dźwignia 1</a></li>
                    <li><a href="https://ti-249778.herokuapp.com/z4">Dźwignia 2</a></li>
                    <li><a href="https://ti-249778.herokuapp.com/z4">Dźwignia 3</a></li>
                    <li><a href="https://ti-249778.herokuapp.com/z4">Dźwignia 4</a></li>
    
    
                </ul></div>
        </div>


    </header>
</body>
</html>