<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Projekt HTML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <div class = "row">
            <ul class = "nav-menu">
                <li><a href="https://ti-249778.herokuapp.com/">STRONA GŁÓWNA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/game">GRA</a></li>
                <li><a href="https://ti-249778.herokuapp.com/about">AUTORZY</a></li>


            </ul>

        </div>
        <div class = "contentHeader">
            <h1>Przestawiasz dźwignie, ale nic się nie dzieje. Zastanawiając się nad poprawną kolejnością, twój wzrok przykuwa tajemnicze zdanie:</h1>
            <p><i>Age si quid agis</i></p>
            <h4><a href="https://ti-249778.herokuapp.com/gamescr1">Spróbuj jeszcze raz</a></h4>
        </div>


    </header>
</body>
</html>